.btn {
    background-color: #f77462;

    border-radius: 3px;
    border-width: 0;

    text-align: center;
    text-transform: uppercase;

    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}

.btn--wide {
    padding: 10.5px 23px;
}

.btn--narrow {

}