.prh {
    -webkit-hyphens: auto;
            hyphens: auto;

    color: #787878;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 24px;

        -ms-hyphens: auto;
}

.main-title {
    font-size: 32px;
}

.article-title--big {
    font-size: 20px;
}

.article-title--middle {
    font-size: 18px;
}

.article-title--small {
    font-size: 16px;
}

