.footer__list {
    width: 100%;
    margin-bottom: 52px;

    display: grid;
    grid-gap: 30px;
    grid-template-columns:  repeat(6, max-content);
    justify-content: space-between;  
}


@media all and (max-width: 1024px) {
    .footer__list {
        grid-template-columns: repeat(3, max-content);
    }
}

@media all and (max-width: 520px) {
    .footer__list {
        grid-template-columns: repeat(2, max-content);
    }
}
