.about-us {
    box-sizing: border-box;
    width: 100%;
    padding: 59px 2.5% 60px 2.5%;

    background-color: #ffffff;
}

.about-us__staff-list,
.about-us__tab {
    display: inline-block;

    vertical-align: top;
}

.about-us__staff-list {
    width: 66.5%;

    vertical-align: top;
}

.about-us__tab {
    display: inline-block;

    width: 30%;
    margin-left: 2.5%;

    vertical-align: top;
}

.about-us__person {
    margin-top: 58px;
}