.service-item {
    display: flex;
}

.service-item:first-child {
    margin-left: 0;
}

.service-item__icon {
    display: flex;

    width: 64px;
    height: 64px;

    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.service-item__flag-img {
    width: 49%;
    margin-left: 10px;
}

.service-item__camera-img {
    width: 65%;
}

.service-item__house-img {
    width: 62%;
    margin-bottom: 4px;
}

.service-item__article {
    max-width: 250px;
    margin-left: 28px;
}

.service-item__title,
.service-item__prh,
.service-item__more {
    color: #ffffff;

    font-family: "Source Sans Pro", sans-serif;
}

.service-item__title {
    margin-bottom: 21px;
}

.service-item__more {
    margin-top: 20px;

    font-size: 16px;
    font-weight: bold;
}

.service-item__more-icon {
    margin-left: 12px;

    font-size: 14px;
}