.popup-container {
    transition: 1s;
    min-height: 0vh;
}

.popup-container--active {
    width: 100vw;
    min-height: 100vh;
    overflow-y: visible;  
}

.popup {
    position: absolute;
    z-index: 8;
    width: 100%;  
    text-align: center; 
    
    opacity: 0;
    transition: 1s;
}

.popup--active {  
    margin-top: 60px;
    opacity: 1;
}

.popup-item {
    color: #787878;
    font-weight: 300;
    font-size: 2.6rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 5rem;
    transition: color 1s;
}

.popup-item:hover {
    color: #6dc5dd;
}