.life__header {
    text-align: center;
}

.life__title {  
    color: #003d48;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 25px;
}

.life__prh {
    font-size: 22px;
    font-weight: 300;
    color: #6dc5dd;
    line-height: 49px;
    
    border-width: 1px 0;
    border-color: #ececec;
    border-style: solid;
}