.life {
    display: grid;

    padding: 54px 2.5%;

    background-color: #ffffff;

    grid-column-gap: 5%;
    grid-row-gap: 40px;
    justify-content: space-between;
}

.life__header {
    text-align: center;
    width: 100%;

    grid-column: 1 / 3;
}

.life__title {
    margin-bottom: 25px;

    color: #003d48;

    font-family: "Source Sans Pro", sans-serif;
}

.life__prh {
    display: block;

    color: #6dc5dd;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ececec;

    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
}

.life__news-item {
    margin-top: 51px;
}

.life__says-item {
    margin-top: 40px;
}

.life__news-item:first-child {
    margin-top: 0;
}

.life__says-item:first-child {
    margin-top: 0;
}

@media (max-width: 670px) {
    .life__header {
        grid-column: auto;
    }

    .life {
        justify-items: center;
        grid-auto-columns: 1fr;
    }
}