.life {
    display: grid;

    padding: 54px 2.5%;

    background-color: #ffffff;

    grid-column-gap: 5%;
    grid-row-gap: 40px;
    justify-content: space-between;
}

.life__grid-1r {
    grid-column: 1 / 3;
    grid-row: 1;
}

.life__grid-2r-1c {
    grid-column: 1;
    grid-row: 2;
}

.life__grid-2r-2c {
    grid-column: 2;
    grid-row: 2;
}