.says-item + .says-item {
    margin-top: 40px;
}

.says-item {
    display: flex;

    box-sizing: border-box;
    max-width: 540px;
    padding: 37px 31px 29px 30px;

    background-color: #ececec;
}

.says-item__comment + .says-item__icon {
    margin-left: 31px;
}

.says-item__what {
    color: #8b9193;

    font-size: 15px;
    line-height: 24px;
}

.says-item__who {
    margin-top: 12px;

    color: #f77462;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.says-item__icon {
    width: 106px;
    height: 106px;

    flex-shrink: 0;
}

.says-item__icon-img {
    width: 76px;
    height: 70px;
    margin: 23% 14%;
}