.staff-panel {
    box-sizing: border-box;
    width: 100%;
    padding: 59px 2.5% 60px 2.5%;

    background-color: #ffffff;
}

.staff-panel__staff-list {
    display: inline-block;

    width: 66.5%;

    vertical-align: top;
}

.staff-panel__panel {
    display: inline-block;

    width: 20%;
    margin-left: 2.5%;

    vertical-align: top;
}

.staff-panel__person {
    margin-top: 58px;
}