.attention-container {
    width: 100%;
    background-color: #f77462;
    box-sizing: border-box;
    padding: 55px 0 51px 0;
}

.attention__title, .attention__prh {
    color: white;
}

.attention__title {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

.attention__prh {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
  