.attention-container {
    width: 100%;
    min-height: 200px;
    background-color: #f77462;
}

.attention {
    box-sizing: border-box;
    padding: 54px 0 50px 0;
}

.attention__title, .attention__prh {
    color: white;
}

.attention__title {
    font-size: 32px;
    margin-bottom: 11px;
}

.attention__prh {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
  