.attention-container {
    width: 100%;
    min-height: 205px;
    background-color: #f77462;
}

.attention {
    box-sizing: border-box;
    padding: 53px 0 53px 0;
}

.attention__title, .attention__prh {
    color: white;
}

.attention__title {
    font-size: 32px;
    margin-bottom: 14px;
}

.attention__prh {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
  