.life-container {
    background-color: white;
    justify-content: flex-start;
}

.life {
    margin: 54px 0 54px 0;
    justify-content: flex-start;
    width: 95%;
}

.life__header, life__body{
    width: 100%;
    text-align: center;
}

.life__header + .life__body {
    margin-top: 40px;
}

.life__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.life__title {
    text-align: center;
    color: #003d48;
}

.life__prh {
    font-size: 22px;
    font-weight: 300;
    color: #6dc5dd;
    line-height: 46px;
    height: 48px;

    border-width: 1px 0 1px 0;
    border-color: #ececec;
    border-style: solid; 
}

.life__title + .life__prh {
    margin-top: 25px;
}

.life__list + .life__list{
    margin-left: 5%;
}

.life__list {
    align-items: flex-start;
}

.life__says-list-item + .life__says-list-item {
    margin-top: 40px;
}

.life__news-item + .life__news-item {
    margin-top: 50px;
}

.news {
    min-height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__date + .news__article{
    margin-left: 28px;
}

.news__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-color: #6dc5dd;
    border-radius: 3px;
    height: 68px;
    width: 70px;
    color: white;
}

.news__day, .news__month {
    font-family: 'Source Sans Pro', sans-serif;;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.news__day {
    font-size: 35px;
    line-height: 40px;
}
  
.news__month {
    font-size: 18px;
    line-height: 21px;
    border-top-width: 1px;
    border-top-style: solid;
}

.news__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.news__title {
    margin-bottom: 7px;
}

.news__about {
    margin-top: 11px;
    line-height: 24px;
}

.news__comments {
    font-size: 15px;
    color: #f77462;
}

.news__more-icon { 
    font-size: 18px; 
    margin-left: 8px;
    color: #f77462;
}

.says {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ececec;
    box-sizing: border-box;
    padding: 38px 26px 30px 28px;
}

.says__comment + .says__icon{
    margin-left: 31px;
}

.says__comment {
    max-width: 698px
}

.says__what {
    color: rgb(140, 145, 147);
    font-size: 15px;
    line-height: 24px;
}
  
.says__who {
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(247, 116, 98);
    font-family: 'Source Sans Pro', sans-serif;
}

.says__icon {
    flex-shrink: 0;
    width: 106px;
    height: 106px;  
}

.says__icon-img {
    width: 76px;
    height: 70px;  
}

  