.footer-container {
    background-color: #6dc5dd;
    min-height: 324px;
    box-sizing: border-box;
    padding: 46px 0 0 0;
    border-radius: 0 0 5px 5px;
}

.footer {
    justify-content: space-between;
    color: white;
    height: 100%;
}

.footer__list {
    flex-wrap: wrap;
    width: 100%;
}

.footer__list-item + .footer__list-item{
    margin-left: 30px;
}

.footer__list-item {
    margin-bottom: 59px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__underline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 31.6px 0 31.6px 0;
    width: 100%;  
    
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px; 
}

.social {
    display: flex;
    align-items: center;
}

.social__icon + .social__icon {
    margin-left: 9px;
}

.social__icon {
    color: white;
    font-size: 33px;
}
  