html {
    background-image: url('../resources/images/page-background.png');
    box-sizing: border-box;
    padding: 101px 0 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: block;
    width: 1170px;
}

.main-theme {
    font-family: 'Source Sans Pro', sans-serif;
}

.container, .content, .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}

.content {
    width: 95%;
}

.list--row {
    flex-direction: row;
    justify-content: space-between;
}

.circle-icon {
    border-style: solid;
    border-width: 0;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}

.prh {
    line-height: 22px;
    font-size: 15px;
    color: rgb(120, 120, 120);

    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.prh--white {
    color: white;
}
  
.h2-like {
    font-weight: bold;
    font-size: 32px;
}

.h3-like {
    font-size: 20px;
    font-weight: bold;
}

.h4-like {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 61, 72);
}
  
.btn {
    border-radius: 3px;
    border-width: 0;
    background-color: #f77462;
    background-clip: border-box;

    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
}