.service {
    min-height: 270px;
    width: 100%;
    background-color: #6dc5dd;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service__item {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    margin: 0 10px 0 25px;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-size: 67px 67px;
    width: 67px;
    height: 67px;
    top: 0px;
    left: 0px;
}

.service__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    
    padding: 0 10px 0 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: white;
}

.service__title {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: bold;
}

.service__prh {
    font-size: 17px;
    font-weight: normal; 
    word-wrap: normal; 
}

.service__more {
    margin-top: 21px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.service__more-icon {
    display: flex;
    color: white;
    padding-left: 13px;
}