.services-container {
    width: 100%;
    background-color: #6dc5dd;
}

.services{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 61px 0 60px 0;
}

.service + .service {
    margin-left: 4.2%;
}

.service {
    display: flex;
}

.service__icon {
    flex-shrink: 0;
    width: 63px;
    height: 63px;
}

.service__flag-img {
    width: 50%;
    height: 71%;
    margin: 16% 0 0 30%;
}

.service__camera-img {
    width: 65%;
    height: 53%;
    margin: 24% 0 0 16%;
}

.service__house-img {
    width: 74%;
    height: 66%;
    margin: 15% 0 0 12%;
}

.service__article {
    max-width: 260px;
    color: #ffffff;
    margin-left: 28px;
}

.service__title {
    margin-bottom: 21px;
    margin-left: -2.1px;
    font-size: 20px;
    font-weight: bold;
}

.service__prh {
    font-size: 15px;
    font-weight: normal; 
    line-height: 24px;
}

.service__more {
    margin-top: 20px; 
    font-size: 16px;
    font-weight: bold;  
}

.service__more-icon {
    font-size: 14px;
    margin:  0 0 0 12px;
}