.services-container {
    min-height: 270px;
    width: 100%;
    background-color: #6dc5dd;
}

.services {
    box-sizing: border-box;
    margin: 48px 0 54px 0;
    width: 95%;
}

.services__list{
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.service + .service {
    margin-left: 30px;
}

.service {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 340px;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 63px;
    height: 63px;
}

.service__article{
    display: block;
    color: white;
    margin-left: 28px;
}

.service__title {
    margin-bottom: 21px;
    font-size: 22px;
    font-weight: bold;
}

.service__prh {
    font-size: 15px;
    font-weight: normal; 
    line-height: 24px;
}

.service__more {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.service__more-icon {
    display: flex;
    color: white;
    padding-left: 10px;
}