.staff-person, .staff-panel-container, .staff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.staff-panel-container {    
     width: 100%;
     min-height: 572px;
     background-color: white;
     box-sizing: border-box;
     padding: 59px 0 60px 0;
}

.staff-panel {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 5px 0 5px;
}

.staff {
    flex-direction: column;
}

.staff-person + .staff-person{
    margin-top: 60px
}

.staff-person__photo {
    border-radius: 7px;
    height: 196px;
    width: 189px;
}

.staff-person__photo + .staff-person__char {
    margin-left: 29px;
}

.staff-person__char {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;

    height: 196px;  
}

.staff-person__prh{
    color: #929292;
}

.staff-person__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #003d48;
}

.staff-person__btn-more {
    width: 70px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}