.staff-panel-container {    
     width: 100%;
     background-color: #ffffff;
     box-sizing: border-box;
     padding: 59px 0 60px 0;
}

.staff-panel {
    width: 95%;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 58px;
    grid-template-columns: auto max-content;
    justify-content: space-between;
    margin: auto;
}

.staff-panel__grid-1-1 {
    grid-column: 1;
    grid-row: 1;
}

.staff-panel__grid-1-2 {
    grid-column: 1;
    grid-row: 2;
}

.staff-person {
    display: flex;
}

.staff-person__photo {
    border-radius: 5px;
    width: 189px;
    height: 198px;
    flex-shrink: 0;
}

.staff-person__photo + .staff-person__char {
    margin-left: 30px;
}

.staff-person__title {
    padding-top: 3px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 20px;
    color: #003d48;
}

.title--last {
    padding-top: 3px;
    font-size: 18px;
}

.staff-person__prh{
    color: #929292;
    line-height: 24px;
}

.staff-person__btn-more {
    width: 70px;
    height: 38px;
    margin-top: 23px;

    line-height: 38px;
    font-size: 16px;
}